apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: project2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: ghcr.io/paul486461/project2-config:dev
          ports:
            - containerPort: 8889
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
