apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: project2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
        - name: gateway
          image: ghcr.io/paul486461/project2-gateway:dev
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: SPRING_CONFIG_IMPORT
              value: optional:configserver:http://config-server:8889
